{
  "disableTimer" : true,
  "requiresBlueprint" : false,
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/imbheader.png",
      "fileBody" : "/interface/crafting/imbbody.png",
      "fileFooter" : "/interface/crafting/imbfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [466, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "                                      IMMERSIVE PROPS",
      "subtitle": "^white;           Tell Your Friends To come And Buy From Us!^white;",
      "position" : [20, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/imbicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [232, 243],
      "hAnchor" : "mid",
      "value" : "PRODUCT"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [404, 243],
      "hAnchor" : "mid",
      "value" : "PRODUCT DESCRIPTION"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [346, 40],
      "upOffset" : 34
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [358, 40],
      "textAlign" : "center",
      "maxWidth" : 15,
      "regex" : "x?\\d{0,3}",
      "hint" : ""
    },
    "lblAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/imbamount.png",
      "position" : [352, 39],
      "zlevel" : -3
    },
    "lbllvlSort" : {
      "type" : "image",
      "file" : "/interface/crafting/cost.png",
      "position" : [267, 232],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/crafting/imbbutton.png",
      "hover" : "/interface/crafting/imbbuttonhover.png",
      "position" : [418, 38],
      "caption" : "Buy"
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [170, 59]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [214, 58],
      "hAnchor" : "left",
      "value" : "CAN AFFORD"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [151, 69, 318, 230],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/imbcraftableselected.png",
            "unselectedBG" : "/interface/crafting/imbcraftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/imbcraftablebackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [21, 11],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [1, 1],
                "callback" : "null"
              },
    
              //"newIcon" : {
              //  "type" : "image",
              //  "position" : [129, 2],
              //  "file" : "/interface/crafting/new.png"
              //},
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [135, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/imbnotcraftableoverlay.png",
                "position" : [0, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [334, 42],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [202, 43],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : true
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
	   {
          "position" : [8, 211],
          "baseImage" : "/interface/crafting/imbapexoff.png",
          "baseImageChecked" : "/interface/crafting/imbapexon.png",
          "data" : {
            "filter" : [ "imbapex" ]
          }
        },
        {
          "position" : [42, 211],
          "baseImage" : "/interface/crafting/imbchairsoff.png",
          "baseImageChecked" : "/interface/crafting/imbchairson.png",
          "data" : {
            "filter" : [ "imbchairs" ]
          }
        },
        {
          "position" : [76, 211],
          "baseImage" : "/interface/crafting/imbcurtainoff.png",
          "baseImageChecked" : "/interface/crafting/imbcurtainon.png",
          "data" : {
            "filter" : [ "imbcurtain" ]
          }
        },
        {
          "position" : [110, 211],
          "baseImage" : "/interface/crafting/imbsofasoff.png",
          "baseImageChecked" : "/interface/crafting/imbsofason.png",
          "data" : {
            "filter" : [ "imbsofas" ]
          }
        },
	   {
          "position" : [8, 177],
          "baseImage" : "/interface/crafting/imbavianoff.png",
          "baseImageChecked" : "/interface/crafting/imbavianon.png",
          "data" : {
            "filter" : [ "imbavian" ]
          }
        },
        {
          "position" : [42, 177],
          "baseImage" : "/interface/crafting/imbbedsoff.png",
          "baseImageChecked" : "/interface/crafting/imbbedson.png",
          "data" : {
            "filter" : [ "imbbeds" ]
          }
        },
        {
          "position" : [76, 177],
          "baseImage" : "/interface/crafting/imbtablesoff.png",
          "baseImageChecked" : "/interface/crafting/imbtableson.png",
          "data" : {
            "filter" : [ "imbtables" ]
          }
        },
        {
          "position" : [110, 177],
          "baseImage" : "/interface/crafting/imblampsoff.png",
          "baseImageChecked" : "/interface/crafting/imblampson.png",
          "data" : {
            "filter" : [ "imblamps" ]
          }
        },
	   {
          "position" : [8, 143],
          "baseImage" : "/interface/crafting/imbfloranoff.png",
          "baseImageChecked" : "/interface/crafting/imbfloranon.png",
          "data" : {
            "filter" : [ "imbfloran" ]
          }
        },
        {
          "position" : [42, 143],
          "baseImage" : "/interface/crafting/imbdrawersoff.png",
          "baseImageChecked" : "/interface/crafting/imbdrawerson.png",
          "data" : {
            "filter" : [ "imbdrawers" ]
          }
        },
        {
          "position" : [76, 143],
          "baseImage" : "/interface/crafting/imbcupboardsoff.png",
          "baseImageChecked" : "/interface/crafting/imbcupboardson.png",
          "data" : {
            "filter" : [ "imbcupboards" ]
          }
        },
        {
          "position" : [110, 143],
          "baseImage" : "/interface/crafting/imbbathroomoff.png",
          "baseImageChecked" : "/interface/crafting/imbbathroomon.png",
          "data" : {
            "filter" : [ "imbbathroom" ]
          }
        },
	   {
          "position" : [8, 109],
          "baseImage" : "/interface/crafting/imbglitchoff.png",
          "baseImageChecked" : "/interface/crafting/imbglitchon.png",
          "data" : {
            "filter" : [ "imbglitch" ]
          }
        },
        {
          "position" : [42, 109],
          "baseImage" : "/interface/crafting/imbentertainmentoff.png",
          "baseImageChecked" : "/interface/crafting/imbentertainmenton.png",
          "data" : {
            "filter" : [ "imbentertainment" ]
          }
        },
        {
          "position" : [76, 109],
          "baseImage" : "/interface/crafting/imbmachinesoff.png",
          "baseImageChecked" : "/interface/crafting/imbmachineson.png",
          "data" : {
            "filter" : [ "imbmachines" ]
          }
        },
        {
          "position" : [110, 109],
          "baseImage" : "/interface/crafting/imbkitchenoff.png",
          "baseImageChecked" : "/interface/crafting/imbkitchenon.png",
          "data" : {
            "filter" : [ "imbkitchen" ]
          }
        },
	   {
          "position" : [8, 75],
          "baseImage" : "/interface/crafting/imbhumanoff.png",
          "baseImageChecked" : "/interface/crafting/imbhumanon.png",
          "data" : {
            "filter" : [ "imbhuman" ]
          }
        },
        {
          "position" : [42, 75],
          "baseImage" : "/interface/crafting/imbpaintingoff.png",
          "baseImageChecked" : "/interface/crafting/imbpainting.png",
          "data" : {
            "filter" : [ "imbpainting" ]
          }
        },
        {
          "position" : [76, 75],
          "baseImage" : "/interface/crafting/imbdecorationsoff.png",
          "baseImageChecked" : "/interface/crafting/imbdecorationson.png",
          "data" : {
            "filter" : [ "imbdecorations" ]
          }
        },
        {
          "position" : [110, 75],
          "baseImage" : "/interface/crafting/imbstorageoff.png",
          "baseImageChecked" : "/interface/crafting/imbstorageon.png",
          "data" : {
            "filter" : [ "imbstorage" ]
          }
        },
	   {
          "position" : [8, 41],
          "baseImage" : "/interface/crafting/imbhylotloff.png",
          "baseImageChecked" : "/interface/crafting/imbhylotlon.png",
          "data" : {
            "filter" : [ "imbhylotl" ]
          }
        },
        {
          "position" : [42, 41],
          "baseImage" : "/interface/crafting/imbdoorsoff.png",
          "baseImageChecked" : "/interface/crafting/imbdoorson.png",
          "data" : {
            "filter" : [ "imbdoors" ]
          }
        },
        {
          "position" : [76, 41],
          "baseImage" : "/interface/crafting/imbwallpapersoff.png",
          "baseImageChecked" : "/interface/crafting/imbwallpaperson.png",
          "data" : {
            "filter" : [ "imbwallpapers" ]
          }
        },
        {
          "position" : [110, 41],
          "baseImage" : "/interface/crafting/imbsafetyoff.png",
          "baseImageChecked" : "/interface/crafting/imbsafetyon.png",
          "data" : {
            "filter" : [ "imbsafety" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
        {
          "position" : [150, 232],
          "baseImage" : "/interface/crafting/sortcommon.png",
          "baseImageChecked" : "/interface/crafting/sortcommonselected.png",
          "data" : {
            "rarity" : [ "common" ]
          }
        },
        {
          "position" : [156, 232],
          "baseImage" : "/interface/crafting/sortuncommon.png",
          "baseImageChecked" : "/interface/crafting/sortuncommonselected.png",
          "data" : {
            "rarity" : [ "uncommon" ]
          }
        },
        {
          "position" : [162, 232],
          "baseImage" : "/interface/crafting/sortrare.png",
          "baseImageChecked" : "/interface/crafting/sortrareselected.png",
          "data" : {
            "rarity" : [ "rare" ]
          }
        },
        {
          "position" : [168, 232],
          "baseImage" : "/interface/crafting/sortlegendary.png",
          "baseImageChecked" : "/interface/crafting/sortlegendaryselected.png",
          "data" : {
            "rarity" : [ "legendary" ]
          }
        }
      ]
    }
  },
  "tooltip" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "itemList" : {
      "position" : [2, 3],
      "type" : "list",
      "schema" : {
        "spacing" : [0, 0],
        "memberSize" : [125, 25],
        "listTemplate" : {
          "itemName" : {
            "type" : "label",
            "position" : [22, 10],
            "hAnchor" : "left",
            "wrapWidth" : 116,
            "value" : "Golden Moustache"
          },
          "itemIcon" : {
            "type" : "itemslot",
            "position" : [1, 1],
            "callback" : "null"
          },
          "count" : {
            "type" : "label",
            "position" : [118, 0],
            "hAnchor" : "right",
            "value" : "19/99"
          }
        }
      }
    }
  }
}
